@tailwind base;
@tailwind components;
@tailwind utilities;

:root {/*
    --background: #ffffff;
    --foreground: #171717;*/
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-primary: Helvetica, Arial, sans-serif;
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}*/

body {
    padding-top: 50px;
    color: var(--foreground);
    /* BACKGROUND IMAGE */
    background-color: var(--background);
    background-image: url('/images/background-texture.jpg');
    background-repeat: repeat;
    background-size: 300px 300px; /* ajusta según tu patrón */
    background-position: center;
    background-attachment: fixed; /* opcional, para efecto parallax */
    font-family: var(--font-primary);
    opacity: 0.8;
    /*background: var(--background);*/
    /*font-family: Arial, Helvetica, sans-serif;*/
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
